*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, rgb(103, 37, 83), rgb(106, 76, 150));
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    justify-content: center;
    margin-bottom: 125px;
}

.header_inside{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 150px;
    background-color: #fff;
}

.header-parag{
    font-size: 25px;
}

ul{
   display: flex;
   align-items: center;
   justify-content: center; 
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    margin: 0 10px 0 10px;
    font-size: 20px;
    padding: 10px;
    width: 100px;
    background-color: rgb(61, 61, 253);
    border-radius: 10px;
    color: #fff;
}

.header-parag{
    margin: 20px 0 40px 0;
}

/*Sections*/

.container, .container-o{
    text-align: center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;

}
.container{
    background-color: rgb(231, 231, 231);
}
.container-o{
    background-color: rgb(190, 190, 190);
}

.h1{
    margin: 30px;
}

.text{
    width: 80%;
}

.text p{
    font-size: 18px;
    margin-bottom: 40vh;
}
